<div class="card border-primary mb-3">
  <div class="card-header">Categorias</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Categorias</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/formCategories']">
        Crear Categorias
      </button>
    </div>
    <div *ngIf = "categories?.length==0" class="alert alert-info">
      No hay registros
    </div>
    <table class="table table-bordered table-striped" *ngIf = "categories?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">
            editar
          </th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.idCategory }}</td>
          <td>{{ category.description }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="editar" [routerLink]="['formCategories/', category.idCategory]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar" (click)='delete(category)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
