<div class="card border-primary mb-3">
  <div class="card-header">Canton</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Cantones</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/formCanton']">
        Crear Cantones
      </button>
    </div>
    <div *ngIf = "cantons?.length==0" class="alert alert-info">
      No hay registros
    </div>
    <table class="table table-bordered table-striped" *ngIf = "cantons?.length>0">
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>provincia</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">
            editar
          </th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let canton of cantons">
          <td>{{ canton.id }}</td>
          <td>{{ canton.name }}</td>
          <td>{{ canton.province.provinceName }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="editar" [routerLink]="['formCanton/', canton.id]" class="btn btn-primary btn-sm">editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="eliminar" (click)='delete(canton)' class="btn btn-danger btn-sm">eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
